body{
    font-family: sans-serif;
 color: #252525;
}
a { color: #252525;
text-decoration: none;
}

.active {
 color: #54d5b9;
}

.Introduction{
    margin: 20px 0;
}
.docplanner-header {
    display:flex;
    justify-content: space-between;
    padding: 10px  0;
}
.Introduction-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #54d5b9;
}
.Introduction-text{
    display: flex;
}
.services{
    display: flex;
    justify-content: center;

}
.services-card-patient{
    background-color: #5dc6b0;


}
.services-card-doctors{ 
    background-color: #4293db;

}
.services-card-clinics{
background-color: #1b2734;
}
.services-card{
    padding: 20px;
    border-radius:25px;
    justify-content: center;
    color: white;
    margin: 5px;

}
.services-card-select{
    font: 19.2px,arial,sans-serif;
    padding: 0px 5.4px 0px 0px;
    border-radius: 2px;
   

}

.services-card-for{
    margin: 1px;
    padding-top: 1px;
    justify-items: center;
}
.we{
    color: #5dc6b0;
    margin:30px;
    -webkit-font-smoothing: antialiased;

}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 50px);
    justify-content: start;
  }
  
  .grid-item {
    border: 1px solid black;
  }
  .parent-container {
    text-align: left;
  }


  .container{
    display: flex;
    justify-content: space-around;
    width: 25px;
box-sizing: content-box; }

.we{
    color: #00B3B5;
    font-size: 1.625em;
    width: 33%;
    float: left;
}
    
.section2{
   color: #00B3B5;
    font: 34px "work-sans",Arial, sans-serif;
    size: 34px;
    line-height: 44px;
    font-style: normal;

}
.section3{
    color: #747474;
    size: 14px ;
    font-weight: 400;
    font-family: Roboto,Arial,sans-serif;
font-style: normal;
}

.grid-stats__grid-fade-elements{
    color: #00B3B5;
    
    }

.black{
    color:#747474;

}
.partie2{
    background-color: #d5f5f6;
}
.stats__item {
justify-content: space-around;
    border-radius: 5px;
    height: 250px;
}

.oussama{
    display: flex;
    justify-content: center;
    justify-items: center;
    color: #00B3B5;
}
.paragh{
    display: flex;
    justify-content: center;
    justify-items: center;
    color: #747474;
    
}

.join-us{
    display: flex;
    justify-content: center;
    color: black;
    font-family: "work-sans",Arial, Helvetica, sans-serif;
}
.
.boutton2{
   display: flex;
justify-content: center;
   padding: 0.5cm 0.5cm;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    color: aliceblue;

}
.pic {
    display: flex;
    justify-content: center
    ;
}
.ttt{
    display: flex;
    flex-direction: column;
    
}
.container8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 90px;
  }
  
  .title2 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
  }
  
  .button2 {
    background-color: rgb(61,131,223);
    padding: 10px;
    border: none;
    border-radius: 3px;
    color: white;
  }

  .container9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: solid 1px lightgray; 
  }
  
  .para3 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: #3d83df;
  }